/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* import css definitions for current theme */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@import "machiatto.css";



@keyframes blink-warning {
    70% {
        color: @wm_icon_bg;
    }

    to {
        color: @wm_icon_bg;
        background-color: @warning_color;
    }
}

@keyframes blink-critical {
    70% {
        color: @wm_icon_bg;
    }

    to {
        color: @wm_icon_bg;
        background-color: @error_color;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    /* color: @lavender; */
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "JetBrainsMono NF", "Roboto Mono", sans-serif;
}

/* The whole bar */

/* window#waybar {
    background: @theme_bg_color;
    color: @wm_icon_bg;
    font-size: 18px;
} */

window#waybar {
    border: 0px solid rgba(0, 0, 0, 0);
    /* border-radius: 10px; */
    /* background:#2d2a2e; */
    /* background-color: rgba(36, 39, 58, 0.85); */
    background-color: rgba(0, 0, 0, 0);
    /* background-color: shade(#1e1e2e, 0.95); */

}

/* Each module */
#custom-pacman,
#custom-menu,
#custom-help,
#custom-scratchpad,
#custom-github,
#custom-clipboard,
#custom-zeit,
#custom-dnd,
#custom-valent,
#custom-idle_inhibitor,
#bluetooth,
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#backlight,
#language,
#custom-adaptive-light,
#custom-sunset,
#custom-playerctl,
#custom-weather,
#tray {
    /* padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px; */

    /* for some group right */

    background-color: shade(@base, 1);
    margin-bottom : 5px;
    opacity: 1;

    /* margin: 10px 5px 0 5px;
     */
    margin-top: 5px;
    padding: 8px 5px 8px 5px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-scratchpad,
#custom-menu,
#workspaces button.focused,
#clock {
    /* color: @theme_bg_color; */
    /* background-color: @theme_selected_bg_color; */

    border-radius: 20px;
    /* margin: 8px 10px; */
}

#custom-zeit.tracking {
    background-color: @warning_color;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @warning_color;
}

#battery.critical {
    color: @error_color;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    color: @sky;
    font-weight: bold;
}



#cpu.warning {
    color: @warning_color;
}

#cpu.critical {
    color: @error_color;
}

#custom-menu {
    padding-left: 8px;
    padding-right: 13px;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @warning_color;
}

#memory.critical {
    color: @error_color;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: @background_color;
}

#network {

    color: @green;
    border-radius: 10px;
    margin-right: 10px;

}



#network.disconnected {
    color: @warning_color;
}

#pulseaudio.muted {
    color: @warning_color;
}

#temperature.critical {
    color: @error_color;
}

#workspaces {
    /* background-color: red; */
    margin-top : 5px;
    margin-bottom: 5px;
    background-color: @base;
    border-radius: 20px;
}

/* #workspaces */

#workspaces button {
    /* background-color: blue; */
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    opacity: 0.8;
}

#workspaces button.hovered {
    color :red;
}


#workspaces button.focused {
    /* border-color: @theme_selected_bg_color; */
    /* color: #40e0f0; */
    /* background-color: @lavender; */
    /* animation-name: blink-critical; */
    /* animation-duration: 0.4s; */
    
    color: #40e0f0;
    animation: focused_workspace 0.4s infinite alternate;
    /* opacity: 0.3; */
    opacity: 1;
}

@keyframes focused_workspace {
    0% {
        margin-left: 5px;
        margin-right: 5px;
    }
    100% {
        margin-left: 5px;
        margin-right: 5px;
    }

}



#workspaces button.urgent {
    border-color: @error_color;
    color: @error_color;
}

#custom-pacman {
    color: @warning_color;
}

#bluetooth.disabled {
    border-radius: 10px;
    color: @sky;
}


#tray {
    border-radius: 10px;
}




#custom-wf-recorder {
    color: @error_color;
    padding-right: 10px;
}

#custom-valent.dangerously-empty {
    color: @warning_color;
}



/* group 1 batter backlight voulme */

#battery,
#backlight,
#pulseaudio {
    /* background-color: red; */
}

#battery {
    color: @green;
    border-radius: 0 15px 15px 0;
    padding-right: 10px;
    margin-right: 10px;

}

#backlight {}

#pulseaudio {
    border-radius: 15px 0 0 15px;
    padding-left: 10px;
}

#cpu,
#temperature,
#memory {
    /* background-color: green; */
}

#memory {
    color: @sky;
    border-radius: 0 15px 15px 0;
    padding-right: 10px;
    margin-right: 10px;
}

#temperature {
    color: @teal ;
}

#cpu {
    color: @sky;
    border-radius: 15px 0 0 15px;
    padding-left: 10px;
}